:root {
  --mainGreen: #00bf77;
  --mainGrey: #fffbef;
  --mainBrown: #816e55;
  --darkBrown: #2d1e1f;
  --mainOrange: #f37619;
  --mainWhite: #fff;
  --mainDark: #222;
  \--secondarygreen: #00ef95;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  letter-spacing: 0.25rem;
}
.text-green {
  color: var(--mainGreen);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainGreen);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: linear-gradient(rgba(23, 71, 53, 0.5), rgba(23, 71, 53, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-green {
  color: var(--mainGreen);
  border-color: var(--mainGreen);
  padding: 1rem;
}

.btn-green:hover {
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  border-color: var(--mainBrown);
}

.footer {
  background-color: var(--mainDark);
  color: var(--mainGreen);
}

.menu,
.contact {
  background-color: var(--mainGrey);
}

.demo-bg {
  background: var(--mainGreen);
  margin-top: 60px;
}
.business-hours {
  background: linear-gradient(var(--secondaryGreen), var(--mainDark));
  padding: 40px 14px;
  margin-top: -15px;
  position: relative;
}
.business-hours:before {
  content: "";
  width: 23px;
  height: 23px;
}
.business-hours .title {
  font-size: 20px;
  color: #bbb;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid var(--mainGreen);
}
.business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333;
}
.business-hours li:last-child {
  border-bottom: none;
}
.business-hours .opening-hours li.today {
  color: #ffac0c;
}
