:root {
  --mainGreen: #00bf77;
  --mainGrey: #fffbef;
  --mainBrown: #816e55;
  --darkBrown: #2d1e1f;
  --mainOrange: #f37619;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 0.25rem;
}
.text-green {
  color: var(--mainGreen);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainGreen);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: linear-gradient(rgba(23, 71, 53, 0.5), rgba(23, 71, 53, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-green {
  color: var(--mainGreen);
  border-color: var(--mainGreen);
  padding: 1rem;
}

.btn-green:hover {
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  border-color: var(--mainBrown);
}

.footer {
  background-color: var(--mainDark);
  color: var(--mainGreen);
}

.menu,
.contact {
  background-color: var(--mainGrey);
}
